body {
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.container {
    text-align: center;
}

.block {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
}

h1 {
    color: #007bff;
}

p {
    margin-bottom: 10px;
}
