<nav class="  navbar navbar-expand-lg navbar-light bg-white ">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class=" collapse navbar-collapse  d-flex justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item ">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/numbers">Numbers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/user">User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users">Users</a>
            </li>
        </ul>
    </div>
</nav>

@model User
<div class="text-center">
    <h1 class="display-4">Here is a user!</h1>
    <p>@Model.fname @Model.lname<p>
</div>