@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <h1 class="mt-5">SUCCESS</h1>
    <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Home" asp-action="Logout">Log Out</a>
</div>